.floatlf{
float:left;
background-color:blue;
border-radius:2px;
width:1050px;

}
.logo{
	 
	width:200px;
}
.headerdiv{
background-color:green;
width:1050;
}
.menue{
	width:550px;
	float:left; 
}
.formdiv{
	width:850px;
}
input{
	border-radius:5px;
    margin-bottom:6px;
	}